@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url('TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('TTLakes-Medium.woff2') format('woff2'),
        url('TTLakes-Medium.woff') format('woff'),
        url('TTLakes-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url('TTLakesCompressed-Black.eot');
    src: local('TT Lakes Compressed Black'), local('TTLakesCompressed-Black'),
        url('TTLakesCompressed-Black.eot?#iefix') format('embedded-opentype'),
        url('TTLakesCompressed-Black.woff2') format('woff2'),
        url('TTLakesCompressed-Black.woff') format('woff'),
        url('TTLakesCompressed-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url('TTLakesCondensed-Bold.eot');
    src: local('TT Lakes Condensed Bold'), local('TTLakesCondensed-Bold'),
        url('TTLakesCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('TTLakesCondensed-Bold.woff2') format('woff2'),
        url('TTLakesCondensed-Bold.woff') format('woff'),
        url('TTLakesCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #c64d4d;
    font-family: 'TT Lakes';
}

/* @media (width <= 320px) { */
/* .header {
    max-width: 25vw;
    max-height: 88px;
    margin: auto;

    .header__nav {
        display: flex;
        align-items: center;
        max-width: 320px;
        min-height: 88px;
        background-color: #fff;
        padding-left: 16px;

        .header__conteiner {
            display: flex;
            flex-direction: row;

            .header__link {
                .header__link--hidden {
                    display: none;
                }

                .header__link-image {
                    width: 40px;
                    height: 40px;
                    margin-right: 16px;
                }

                .header__link-image-divider {
                    width: 2px;
                    height: 32px;
                }

                .header__link-image-group {
                    width: 97px;
                    height: 51px;
                }
            }

            .header__link:last-child {
                margin-right: 0;
            }
        }
    }
}

.main {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 320px;
    height: 510px;
    background-color: #f8f8f8;
    margin: auto;
    padding: 16px;

    .main__curtain {
        position: absolute;
        width: 5px;
        height: 40px;
        border-right: 4px solid #41f6d7;
        border-radius: 15px;
        float: right;
        margin-left: -16px;
    }

    .main__services {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        overflow-x: auto;
        background-color: #f8f8f8;
        margin-bottom: 24px;
        z-index: 10;

        .main__title {
            font-family: 'TT Lakes Condensed';
            min-height: 40px;
            margin-bottom: 24px;
        }

        .main__servises-items {
            display: flex;
            flex-direction: row;

            .main__item {
                box-sizing: content-box;
                width: 246px;
                height: 40px;

                .main__item-link {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    min-width: 212px;
                    text-decoration: none;
                    color: #7e7e82;
                    height: 40px;
                    background-color: #f8f8f8;
                }

                .main__item-link-active {
                    min-width: 246px;
                    border: 2px solid #b8ffec;
                    background-color: #fff;
                    border-radius: 10px;
                }
            }

            .main__item:last-child {
                margin-right: 0;
            }
        }
    }

}
.main__services::-webkit-scrollbar {
    display: none;
}

.main__content {
    display: flex;
    flex-direction: column;
    max-height: 90%;

    .main__content-item {
        margin-bottom: 24px;
    }

    .main__content-text {
        font-size: 14px;
    }

    .main__content-text--hidden {
        display: none;
    }

    .main__content-icon {
        display: flex;
        flex-direction: row;

        .main__icon {
            width: 24px;
            height: 24px;
            background-image: url('/style/img/expand.png');
        }
    }

    .main__content-image {
        width: 100%;
        height: 160px;
        background: no-repeat url('/style/img/_MG_3223.png');
        background-size: cover;
    }
} */
/* } */

/* @media (321px < width < 760px) { */
/* body {
        max-width: 760px;
        min-width: 321px;
    } */

/* .header {
        width: 760px;
        max-height: 88px;
        margin: auto;
    
        .header__nav {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            max-width: 760px;
            min-height: 88px;
            background-color: #fff;
            padding-left: 16px;
    
            .header__conteiner {
                display: flex;
                flex-direction: row;
    
                .header__link {
    
                    .header__link-image {
                        width: 40px;
                        height: 40px;
                        margin-right: 16px;
                    }
    
                    .header__link-image-divider {
                        width: 2px;
                        height: 32px;
                    }
    
                    .header__link-image-group {
                        width: 97px;
                        height: 51px;
                    }
                }
    
                .header__link:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    
    .main {
        display: flex;
        flex-direction: column;
        max-width: 760px;
        height: 416px;
        background-color: #f8f8f8;
        margin: auto;
        padding: 24px;

        .main__curtain {
            position: absolute;
            width: 5px;
            height: 40px;
            border-right: 4px solid #41f6d7;
            border-radius: 15px;
            float: right;
            margin-left: -24px;
        }
    
        .main__title {
            font-family: 'TT Lakes Condensed';
            min-height: 40px;
            margin-bottom: 28px;
        }
    
        .main__title::before {
            content: '';
            display: block;
            width: 5px;
            height: 100%;
            border-right: 4px solid #41f6d7;
            border-radius: 15px;
            float: left;
            margin-left: -20px;
        }
    
        .main__services {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            overflow-x: auto;
            background-color: #f8f8f8;
            margin-bottom: 24px;
            z-index: 10;

            .main__servises-items {
                display: flex;
                flex-direction: row;
            }
    
            .main__item {
                box-sizing: content-box;
                width: 246px;
                height: 40px;
    
                .main__item-link {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    min-width: 212px;
                    text-decoration: none;
                    color: #7e7e82;
                    height: 40px;
                    background-color: #f8f8f8;
                }
    
                .main__item-link-active {
                    min-width: 246px;
                    border: 2px solid #b8ffec;
                    background-color: #fff;
                    border-radius: 10px;
                }
            }
    
            .main__item:last-child {
                margin-right: 0;
            }
        }
    }
    .main__services::-webkit-scrollbar {
        display: none;
    }
    
    .main__content {
        display: flex;
        flex-direction: row;
        max-height: 90%;

        .main__content-wrapper-text {
            display: flex;
            flex-direction: column;
            width: 50%;
        }

        .main-content-text-box {
            margin-bottom: 24px;
            width: 312px;
        }
    
        .main__content-item {
            margin-bottom: 24px;
        }
    
        .main__content-text {
            font-size: 14px;
        }
    
        .main__content-icon {
            display: flex;
            flex-direction: row;
    
            .main__icon {
                width: 24px;
                height: 24px;
                background-image: url('/style/img/expand.png');
                margin-right: 8px;
            }
        }

        .main__content-wrapper-image {
            width: 360px;
            height: 210px;
        }
    
        .main__content-image {
            width: 100%;
            height: 100%;
            background: no-repeat url('/style/img/_MG_3223.png');
            background-size: contain;
            border-radius: 5px;
        }
    } */

/* } */

/* .main__services::before {
        content: '';
        display: block;
        width: 5px;
        height: 100%;
        border-right: 4px solid #41f6d7;
        border-radius: 15px;
        float: left; */
/* margin-left: -8px; */
/* } */

/* @media (768.1px <= width) { */
.header {
    max-width: 760px;
    max-height: 88px;
    margin: auto;

    .header__nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 760px;
        min-height: 88px;
        background-color: #fff;
        padding-left: 16px;

        .header__conteiner {
            display: flex;
            flex-direction: row;

            .header__link {
                .header__link-image {
                    width: 40px;
                    height: 40px;
                    margin-right: 16px;
                }

                .header__link-image-divider {
                    width: 2px;
                    height: 32px;
                }

                .header__link-image-group {
                    width: 97px;
                    height: 51px;
                }
            }

            .header__link:last-child {
                margin-right: 0;
            }
        }
    }
}

.main {
    display: flex;
    flex-direction: column;
    max-width: 760px;
    height: 416px;
    background-color: #f8f8f8;
    margin: auto;
    padding: 24px;

    .main__curtain {
        position: absolute;
        width: 5px;
        height: 40px;
        border-right: 4px solid #41f6d7;
        border-radius: 15px;
        float: right;
        margin-left: -24px;
    }

    .main__title {
        font-family: 'TT Lakes Condensed';
        min-height: 40px;
        margin-bottom: 28px;
    }

    .main__title::before {
        content: '';
        display: block;
        width: 5px;
        height: 100%;
        border-right: 4px solid #41f6d7;
        border-radius: 15px;
        float: left;
        margin-left: -20px;
    }

    .main__services {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        overflow-x: auto;
        background-color: #f8f8f8;
        margin-bottom: 24px;
        z-index: 10;

        .main__servises-items {
            display: flex;
            flex-direction: row;
        }

        .main__item {
            box-sizing: content-box;
            width: 246px;
            height: 40px;

            .main__item-link {
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: 212px;
                text-decoration: none;
                color: #7e7e82;
                height: 40px;
                background-color: #f8f8f8;
            }

            .main__item-link-active {
                min-width: 246px;
                border: 2px solid #b8ffec;
                background-color: #fff;
                border-radius: 10px;
            }
        }

        .main__item:last-child {
            margin-right: 0;
        }
    }
}
.main__services::-webkit-scrollbar {
    display: none;
}

.main__content {
    display: flex;
    flex-direction: row;
    max-height: 90%;

    .main__content-wrapper-text {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .main-content-text-box {
        margin-bottom: 24px;
        width: 312px;
    }

    .main__content-item {
        margin-bottom: 24px;
    }

    .main__content-text {
        font-size: 14px;
    }

    .main__content-icon {
        display: flex;
        flex-direction: row;

        .main__icon {
            width: 24px;
            height: 24px;
            background-image: url('/style/img/expand.png');
            margin-right: 8px;
        }
    }

    .main__content-wrapper-image {
        width: 360px;
        height: 210px;
    }

    .main__content-image {
        width: 100%;
        height: 100%;
        background: no-repeat url('/style/img/_MG_3223.png');
        background-size: contain;
        border-radius: 5px;
    }
}
/* } */
