@font-face {
    font-family: 'TT Lakes';
    src: url('../style/fonts/TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url('../style/fonts/TTLakes-Regular.eot?#iefix')
            format('embedded-opentype'),
        url('../style/fonts/TTLakes-Regular.woff') format('woff'),
        url('../style/fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../style/fonts/TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url('../style/fonts/TTLakes-Medium.eot?#iefix')
            format('embedded-opentype'),
        url('../style/fonts/TTLakes-Medium.woff') format('woff'),
        url('../style/fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../style/fonts/TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
        url('../style/fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('../style/fonts/TTLakes-Bold.woff') format('woff'),
        url('../style/fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'TT Lakes', sans-serif;
    letter-spacing: 0.2px;
}

.header {
    display: flex;
    flex-direction: column;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 88px;
    background-color: #fff;
    padding-left: 16px;
}

.header__conteiner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.header__img {
    width: 40px;
    height: 40px;
}

.burger {
    background: url('../style/img/burger.png') no-repeat;
}

.repair {
    background: url('../style/img/repair.png') no-repeat;
}

.box-two::before {
    content: '';
    display: block;
    width: 2px;
    height: 32px;
    background-color: #eaeaea;
    margin-top: 4px;
}

.checkstatus {
    background: url('../style/img/checkstatus.png');
}

.logo {
    width: 96px;
    height: 52px;
}

.header__conteiner-title {
    box-sizing: content-box;
    height: 40px;
    background-color: #f8f8f8;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 16px;
}

.header__title {
    font-family: 'TT Lakes';
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 0;
}

.header__title::before {
    content: '';
    display: block;
    position: absolute;
    left: -4px;
    width: 5px;
    height: 40px;
    border-right: 5px solid #41f6d7;
    border-radius: 15px;
}

.header__conteiner-button,
.header--hidden,
.main__servises-items::-webkit-scrollbar,
.main__content-more-text,
.main__content-text--hidden {
    display: none;
}

.main {
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
    padding-top: 0;
}

.main__services {
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
    padding-left: 16px;
    padding-right: 16px;
}

.main__servises-items {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    overflow-x: auto;
}

.main__item {
    box-sizing: content-box;
    font-family: 'TT Lakes';
    font-weight: 500;
    font-size: 16px;
    width: 246px;
    height: 40px;
}

.main__item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 216px;
    text-decoration: none;
    color: #7e7e82;
    height: 40px;
    background-color: #f8f8f8;
}

.main__item-link-active {
    min-width: 246px;
    border: 2px solid #b8ffec;
    background-color: #fff;
    border-radius: 10px;
}

.main__content {
    display: flex;
    flex-direction: column;
    max-height: 90%;
    padding-top: 24px;
}

.main__content-wrapper-text {
    padding-left: 16px;
    padding-right: 16px;
}

.main__content-text {
    font-family: 'TT Lakes';
    font-weight: normal;
    font-size: 14px;
}

.main__content-ownards-text {
    padding-left: 16px;
}

.main__content-icon {
    display: flex;
    flex-direction: row;
    padding-top: 16px;
    padding-bottom: 16px;
}

.main__icon {
    width: 24px;
    height: 24px;
    background-image: url('../style/img/expand.png');
}

.main__content-image {
    width: 100%;
    height: auto;
}

@media (768px <= width < 1120px) {
    .header__nav {
        padding-left: 24px;
        padding-right: 24px;
    }

    .box-one {
        width: 25%;
    }

    .box-two {
        width: 40%;
    }

    .header__img {
        box-sizing: content-box;
    }

    .burger {
        padding-right: 20px;
    }

    .repair {
        background: no-repeat url('../style/img/repair.png') right;
        padding-left: 18px;
    }

    .header--hidden,
    .main__content-text--hidden {
        display: block;
    }

    .box-two::before {
        display: none;
    }

    .repair::before {
        content: '';
        display: block;
        width: 2px;
        height: 32px;
        background-color: #eaeaea;
        margin-top: 5px;
        margin-left: -3.3vw;
    }

    .logo::before {
        content: '';
        display: block;
        position: absolute;
        width: 2px;
        height: 32px;
        background-color: #eaeaea;
        margin-left: -17vw;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
    }

    .call {
        background: no-repeat url('/style/img/call.png');
    }

    .chat {
        background: no-repeat url('../style/img/chat.png');
    }

    .profile {
        background: no-repeat url('../style/img/profile.png');
        padding-right: 18px;
    }

    .header__conteiner-title {
        padding-left: 24px;
    }

    .header__conteiner-button {
        display: none;
    }

    .main {
        min-height: 370px;
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 8px;
    }

    .main__services {
        display: flex;
        flex-direction: column;
        background-color: #f8f8f8;

        padding-left: 0;
        padding-right: 0;
    }

    .main__content {
        flex-direction: row;
        justify-content: space-between;
    }

    .main__content-wrapper-text {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding-left: 0;
    }

    .main__content-text {
        padding-bottom: 24px;
    }

    .main-content-text-box {
        padding-top: 16px;
        padding-right: 40px;
        width: 100%;
    }

    .main__icon {
        background: no-repeat url('../style/img/expand.png');
        padding-right: 8px;
    }

    .main__content-wrapper-image {
        display: flex;
        justify-content: end;
        padding-top: 16px;
        width: 50%;
    }

    .main__content-image {
        border-radius: 5px;
    }
}

@media (1120px <= width) {
    body {
        max-width: 1120px;
        margin: auto;
    }

    .header {
        max-width: 1120px;
        padding-left: 35px;
        padding-right: 35px;
    }

    .header {
        position: relative;
        background-color: #f8f8f8;
    }

    .header__conteiner-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        min-height: 88px;
        background-color: #f8f8f8;
        padding-top: 16px;
        padding-left: 0;
        padding-bottom: 0;
    }

    .header__nav {
        display: none;
    }

    .header__title {
        width: 400px;
        min-height: 40px;
    }

    .header__conteiner-button {
        display: flex;
        flex-direction: row;
    }

    .header__button {
        font-family: 'TT Lakes';
        font-size: 16px;

        border: none;
        width: 220px;
        height: 40px;
    }

    .repair {
        background: url("../style/img/repair.png") no-repeat right;
    }

    .checkstatus {
        background: url("../style/img/checkstatus.png") no-repeat
            right;
    }

    .repair:hover,
    .checkstatus:hover {
        cursor: pointer;
    }

    .main {
        max-width: 1120px;
        height: 490px;
        padding-left: 35px;
        padding-right: 35px;
    }

    .main__services {
        padding-left: 0;
        padding-right: 0;
    }

    .main__servises-items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .main__content {
        flex-direction: row;
        padding-top: 30px;
    }

    .main__content-wrapper-text {
        padding-left: 0;
        width: 50%;
    }

    .main-content-text-box {
        width: 100%;
        padding-right: 30px;
    }

    .main__content-item {
        padding-bottom: 24px;
    }

    .main__content-more-text,
    .main__content-text--hidden {
        display: block;
    }

    .main__content-icon {
        padding-top: 24px;
    }

    .main__icon {
        box-sizing: content-box;
        width: 24px;
        height: 24px;
        background: url('../style/img/expand.png') no-repeat;
        padding-right: 8px;
    }

    .main__content-ownards-text {
        padding-left: 0;
    }

    .main__content-wrapper-image {
        width: 50%;
    }

    .main__content-image {
        border-radius: 5px;
    }
}
